.popover {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 240px;
  width: 220px;
  margin-left: -110px;
}
.popover .arrow {
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -5px;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.popover .wrap {
  background: white;
  border: 3px solid #121212;
  margin: 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.popover .wrap .title {
  background: #525252;
  background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#121212));
  background: -moz-linear-gradient(top, #525252, #121212);
  color: white;
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 8px 0;
  text-shadow: none;
}
.popover .wrap .content {
  padding: 15px;
  max-height: 175px;
  overflow: auto;
  line-height: 1.3em;
  font-size: 0.9em;
}
.popover .wrap .title:empty,
.popover .wrap .content:empty {
  display: none;
}
.popover.wider {
  width: 340px;
  margin-left: -170px;
}
.popover.wider.popover-left {
  margin-left: 0;
}
.popover.wider.popover-right {
  margin-left: -340px;
}
.popover.larger,
.popover.large {
  width: 260px;
  margin-left: -130px;
  max-height: 350px;
}
.popover.larger.popover-left,
.popover.large.popover-left {
  margin-left: 0;
}
.popover.larger.popover-right,
.popover.large.popover-right {
  margin-left: -260px;
}
.popover.larger .content,
.popover.large .content {
  max-height: 285px;
}
.popover.large {
  width: 470px;
  margin-left: -235px;
}
.popover.large.popover-left {
  margin-left: 0;
}
.popover.large.popover-right {
  margin-left: -470px;
}
.popover.small {
  width: 160px;
  margin-left: -80px;
}
.popover.small.popover-left {
  margin-left: 0;
}
.popover.small.popover-right {
  margin-left: -160px;
}
.popover.small .title {
  padding: 4px 0;
  font-size: 1em;
}
.popover.small .content {
  padding: 5px;
  font-size: 0.85em;
}
.popover.nopad .content {
  padding: 0;
}
